spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/cskaoyanmall
    username: root
    password: 3group
  mvc:
    static-path-pattern: /pic/**
  resources:
    static-locations: file:D:/fileUpload/

server:
  port: 8081
pagehelper:
  helper-dialect: mysql
logging:
  level:
    com.cskaoyan.mall.mapper: debug
    com.cskaoyan.mall.service: error

mybatis:
  type-handlers-package: com.cskaoyan.mall.typehandler